.move {
    background-color: #292E3D;
    color: #fff;
    width: 295px;
    padding: 21.5px 108px;
    margin-right: 210px;
    margin-left: 88px;
    cursor: pointer;
}

.move:last-child {
    margin-right: 0;
    margin-left: 0;
}